*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}


.content {
  display: grid;
  width: 1140px;
  height: 534px;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  grid-template-areas:"content template";
}

.result {
  display: flex;
  flex-direction: column;
  grid-area:"content";
  justify-content: flex-end;
}

.result__video-container {
  display: flex;
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  min-height: 100%;
  object-fit:fill;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 16px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__fieldset {
  margin-bottom: 2px;
  border:none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  color: #fff;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
  padding: 2.5px 0;
  width: 225px;
  background-color: #1b1919;
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 /70%);
}

.search-form__label input:focus {
  outline:none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label-text
{
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap:15px;
  border:none;
  margin-bottom: 3px;
}

.search-form__label:focus {
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::after{
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  background-position: center;
  background-size:auto;
}

.search-form__label:hover {
  text-decoration:underline ;
  cursor: pointer;
}

button{
  height: 34px;
  background-color: #1b1919;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__submit-button {
  width: 194px;
  margin-bottom: 3px;
 }

button:active {
  background-color: #545050;
}

button:hover {
  text-decoration:underline ;
  cursor: pointer;
}

button:focus-visible {
outline: medium double #fff;
}

.content__details {
  display: flex;
  flex-direction: column;
  grid-area:"template";
  justify-content: end;
  min-width: 100%;
  min-height: 100%;
}

.title {
  padding-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color:#545050;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap:30px
}

.content__list:focus {
  outline:none;
}

.content__list:focus-visible {
  outline: 1px solid #fff;
}


.content__list-item {
  padding: 0 3px;
}


.content__card-link {
  display: block;
  color: #fff; 
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  
}

.content__video-card-title {
  margin-bottom: px;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  width: 100%;
  line-clamp: 4;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 100%;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  
}

.content__video-card-description-container:hover {
  text-decoration:underline ;
  cursor: pointer;
}

.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
  object-fit:fill;
  object-position: center;
}

.more-button {
  margin-top: 30px;
  width:100%;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
